<div class="p-5">
    <h1 class="text-center" style="text-transform: capitalize;">Day One</h1>
</div>
<div class="container p-2">

    <body>
        <a>
            <span></span>
            <span></span>
            <span></span>
            <span></span> NEON GREEN
        </a>

        <a>
            <span></span>
            <span></span>
            <span></span>
            <span></span> NEON LAVENDER
        </a>

        <a>
            <span></span>
            <span></span>
            <span></span>
            <span></span> NEON BLUE POOL
        </a>
    </body>
</div>
